* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100;
    height: 100vh;
}

.mainheader {
    width: 100;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainheader.logo img {
    width: 250px;
    height: 70px;
    padding-left: 60px;
}

.mainheader nav {
    width: 450;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainheader nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}